<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Работа с массивом чисел</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope, $http) {
            $scope.fun = function () {
                $http({
                    method: "GET",
                    url: "/Home/" + $scope.selectedAction,
                    params: { arr: $scope.array }
                }).then(function mySuccess(response) {
                    $scope.result = response.data;
                    $('#resultModal').modal('show');
                }, function myError(response) {
                    swal("Ошибка", "При запросе на сервер возникла ошибка", "error");
                });
            };
        });
    </script>
    <style>
        input.ng-invalid {
            background-color: #FFCCCC;
        }
    </style>
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
