<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Работа с массивом чисел</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#btnResult").click(function () {
                $.ajax({
                    method: "GET",
                    url: "/Home/" + $("#mySelect").val(),
                    data: { arr: $("#myInput").val()}
                }).then(function (result) {
                    $("#resStr").html(result.Res);
                    $("#timeStr").html(result.Time);
                    $("#resultModal").modal("show");
                }).fail(function () {
                    swal("Ошибка", "При запросе на сервер возникла ошибка", "error");
                });
            });

            $("#myInput").on("input", function (e) {
                $("#btnResult").prop("disabled", !document.getElementById("myInput").checkValidity());
                $("#star").css({ "visibility": (e.target.value == "") ? "visible" : "hidden" });
            });
        });
    </script>
    <style>
        input:invalid {
            background-color: #FFCCCC;
        }
    </style>
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
